<div id="myBody" style="padding-left: 35px">
  <div class="w3-twothird w3-container">
    <h1 class="w3-text-deep-orange">PureCloud Embeddable Framework</h1>
    <p>This is a sample project using PureCloud Embeddable Framework. This project is written in Javascript using Ember Framework.</p>
    <p>Different methods of the PureCloud Embeddable Framework are used in this project such as Click to Dial, Screen Pop Up, Process Call Logs and Contact Search.</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">framework-config.js</h3>
    <p>This sample app also incorporates the dynamic setting of framework.js configuration items. Logic to set framework.js can be found in the /app/services/framework-config.js file</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">screenPop</h3>
    <p>This app has the screenPop function. When there is an incoming interaction, the PEF_SearchValue and PEF_URLPop attributes would determine which page the user will be redirected to.</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">addCustomAttribute</h3>
    <p>This app has the ability to add a custom attribute. Navigate to the Contact Details page to automatically add the priority property to the interaction ID.</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">addAssociation</h3>
    <p>This app has the ability to add an association. Navigate to the Contact Details page to automatically add an association to the caller's name.</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">clickToDial</h3>
    <p>This app has the clickToDial function. Navigate to the Contacts tab and select a phone number to test the clickToDial function.</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">contactSearch</h3>
    <p>This app has the ability to search for contacts for transfer. The app also has the ability to search for external contacts. As an example, Weather Line is added as an external contact for this application. Hard coded data can be seen in /components/window-event-listener.js</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">addTransferContext</h3>
    <p>This app has the functionality to transfer workspace to provide additional information when transfering interactions. Hard coded data can be seen in /components/window-event-listener.js</p>
  </div>  
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">processCallLog</h3>
    <p>This app has the ability to show message from the processCallLog function. Navigate to the Call Logs page when there is a call interaction to test the processCallLog function.</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">updateStatus</h3>
    <p>This app has the ability to change user status by calling the updateStatus function. By clicking on the profile icon and selecting a status in the modal will change the status in the PureCloud Embedded Framework.</p>
  </div>
  <div class="w3-twothird w3-container">
    <h3 class="w3-text-deep-orange">getTranscript</h3>
    <p>This app has the ability to show message from the getTranscript function. Navigate to the Call Logs page when a chat interaction has been completed to test the getTranscript function.</p>
    <br><br><br>
  </div>
</div>